body{
    min-height: 3000px;
}

.jumbroton {
    padding-top: 5rem;
    background-color: #fce1e4;
}

#projects{
    background-color: #d4afb9;
}

.foot{
    background-color: #d4afb9;
}

.btn-kirim{
    background-color: #d4afb9;
}

section{
    padding-top: 5rem;
}